.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.background {
  background-image: url("./static/hotel_bg.jpg");
  background-size: 100% 100%;
  min-height: 100vh;
}

.foreground {
  position: absolute;
  top: 5%;
  left: 15%;
  z-index: 2;
  width: 70%;
  padding: 20px;
  text-align: center;
  font-size: large;
}

.table {
  background-color: white;
  opacity: 0.7;
}